/* --------- Global Variables --------- */
html {
  min-width: 440px;
}


/* --------- Adaptive Backgrounds --------- */
html[data-bs-theme="light"] nav.navbar {
    background-color: var(--bs-gray-900);
  }
html[data-bs-theme="dark"] nav.navbar {
    background-color: rgb(var(--bs-emphasis-color-rgb), 10%);
}


/* --------- Functional Classes --------- */
.hideMe { display: none; }


/* --------- WOLWEB Interface Elements --------- */
@media (min-width: 0px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
}


.code-container {
  padding: 8px 12px;
  background: rgb(var(--bs-emphasis-color-rgb), 5%);
  border-radius: 8px;
  margin-bottom: 12px;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 8px;
}
.section-header .table-controls { margin-left: auto; }
.section-header h3 { margin: 0; }


.api-method-pill {
  background: var(--bs-primary);
  border-radius: 80px;
  padding: 0 15px;
  height: 24px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  color: white;
}
.api-method-pill p {
  margin-bottom: 0;
  font-size: smaller;
}


/* --------- jsGrid Tweaks --------- */
.jsgrid-table { min-width: 900px; }

.jsgrid-grid-header,
.jsgrid-grid-body{
  overflow-y: auto;
}
.jsgrid-table button[disabled] { border-color: var(--bs-secondary); }
button[disabled] i { color: var(--bs-secondary); }


/* --------- Toast Element --------- */
.toast-set-position {
  bottom: 0;
  right: 0;
  margin: 20px;
}
